<header class="nav">
    <div class="top-bar" id="navigation-menu">
        <div class="row column">

            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Title | safeHTML }}</a>
                    </li>
                </ul>
            </div>

            <div class="top-bar-right">

                <div class="title-bar" data-responsive-toggle="navigation-menu" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="navigation-menu"></button>
                    <div class="title-bar-title">Menu</div>
                </div>

                <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                    {{ if .Site.Params.UseCustomNavigation }}
						{{ partial "navigation.html" .Site.Menus.navigation }}
                    {{ else }}
                        {{ range where .Site.Pages "Type" "!=" "post" }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                    
                </ul>
            </div>
        </div>
    </div>
</header>
