<header class="nav">
    <div class="top-bar">
        <div class="row column">
            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Title | safeHTML }}</a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="{{ if .IsHome }}active{{ end }}">
                        <a href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
                    </li>
                    <!--
                    <li>
                        <a href="/projects">Projects</a>
                        <ul class="menu">
                            <li>
                                <a href="/projects/gaming">Gaming</a>
                                <ul class="menu">
                                    <li><a href="https://wow.curseforge.com/projects/blood-of-sargeras-multi-purchase" target="_new">Blood of Sargeras Multi-purchase</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/projects/programming">Programming</a>
                                <ul class="menu">
                                    <li><a href="https://github.com/Tri4ce/cppOS" target="_new">cppOS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/projects/web">Web</a>
                                <ul class="menu">
                                    <li><a href="/projects/">jgarfield.com</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/about">About</a>
                        <ul class="menu">
                            <li><a href="/about/career">My Career</a></li>
                            <li><a href="/about/technology-profile">My Technology Profile</a></li>
                            <li><a href="/about/pcs-and-hardware">My PCs / Hardware</a></li>
                            <li><a href="/about/this-site">This Site</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/resources">Resources</a></li>
                    -->
					
					{{ if .Site.Params.UseCustomNavigation }}
						{{ partial "navigation.html" .Site.Menus.navigation }}
                    {{ else }}
                        {{ range where .Site.Pages "Type" "!=" "post" }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</header>
